body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.status-line {
  font-family: monospace;
  padding: 5px 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  flex-shrink: 0;
}

.status-line span.file-path {
  display: inline-block;
  margin-right: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.left > div {
  height: 100%;
}

.right {
  padding: 3px;
  width: 50%;
  height: 100%;
  overflow: auto;
  background: #fafafa;
}
